$background-color: #dFb354;
$image-width: 40%;

.hero {
  clear: both;
  background: $background-color;
  height: 350px;
  @include single-box-shadow;

  .contact {
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 15%;
  }

  .contact-button {
    color: #fff;
    @include transition-property(font-size);
    @include transition-duration(.7s);

    &:hover {
      font-size: 35px;
    }
  }
}
